<%- include('includes/header')  %>

    <%- include('includes/navbar')  %>

    <main class="container">
        <div class="linha">
            <div class="coluna">
                <h1>Cadastro</h1>
                <%- include('includes/messages')  %>
                
                <fieldset>
                    <legend>Cadastrar no sistema</legend>
                    <form method="POST" action="/cadastrar">
                        <div>
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome">
                        </div>
                        <div>
                            <label for="sobrenome">Sobrenome:</label>
                            <input type="text" name="sobrenome" id="sobrenome">
                        </div>
                        <div>
                            <label for="email">E-mail:</label>
                            <input type="text" name="email" id="email">
                        </div>
                        <div>
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" name="enviar" id="enviar">Enviar</button>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= CSRFToken %>">
                    </form>
                </fieldset>
            </div>
        </div>        
    </div>
        
<%- include('includes/footer')  %>